
// Fonts
// Here you can import any font you want and update the _variables.scss file
// to make use of those fonts across the application.
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
//@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~dropzone/dist/min/dropzone.min.css';

.dropzone {
  margin-bottom: 20px;
  min-height: auto;
}
// Custom Vanguard styles
@import "components/general";
@import "components/card";
@import "components/button";
@import "components/avatar";
@import "components/input";
@import "components/list-group";
@import "components/nav-tabs";
@import "components/navbar";
@import "components/sidebar";
@import "components/switch";
@import "components/sweet-alert";
@import "components/table";
@import "components/util";
@import "components/datepicker";

@include media-breakpoint-down(md) {
  .sidebar:not(.expanded) {
    margin-left: -250px;
  }

  .content-page {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {

  .widget {
    height: 128px;

    .row .text-muted {
      width: 80px;
      text-align: right;
      word-wrap: normal;
    }
  }
}

//account fixes
 .simple-header {
    background-color: #f6f9fa;
    border: none;
    height: 60px;
}
header {
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 0 0;
    position: fixed;
    z-index: 9997!important;
    border-bottom: 1px solid #e3e3e3;
}
header #secondary-logo {
    width: 146px;
    height: 30px;
    float: left;
    margin-top: 4px;
}
.header-banner-colour .h1 {
    font-size: 1.75em;
        color: #002a6f;
}
.header-banner-colour p {
    color: #404041;
}
.registration-box, .sign-in-box {
    background-color: #fff;
    border: 1px solid #d1dde6;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 770px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}
.top .h1 {
  color: #000066;
}
.registration-form {
    margin: 0 auto;
    max-width: 420px;
}
.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}
#work-experience {
  h5 {
    background-color:#010167;
    padding:6px 15px;
    color: #fff;
  }
  .work-ex {
  padding-left:0;
  li {
    list-style: none;
    .heading {
      display: inline-block;
      color: #010167;
      font-weight: bold;
      margin-right: 10px;
    }
    .body-text {
      display: inline-block;
      font-style: italic;
    }
  }
}

}

//panels
  .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
    .attachment-box {
      display: flex;
      margin: 0 20px 20px 0;
      background-color: #f4f4f4;
      border-radius: 4px 0 4px 4px;
      font-weight: 600;
      padding: 15px 20px;
      padding-bottom: 45px;
      padding-right: 25px;
      line-height: 24px;
      flex-direction: column;
      &:hover {
        .remove-attachment {
          opacity: 1;
          transform: translateY(0);
      }
      }
      color: #666;
      position: relative;
      transition: .3s;
      flex: 0 1 calc(50% - 21px);
      cursor: default;
      position: relative;
      .remove-attachment {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #fff;
        background-color: #dc3139;
        box-shadow: 0 3px 8px rgba(234,65,81,.15);
        height: 38px;
        width: 38px;
        line-height: 38px;
        border-radius: 3px;
        font-weight: 500;
        font-size: 14px;
        transition: .3s;
        opacity: 0;
        transform: translateY(3px);
        .fa {
          position: absolute;
          top: 30%;
          text-align: center;
          left: 35%;
        }
        
    }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 20px 20px 0;
        border-style: solid;
        border-color: rgba(0,0,0,.15) #fff;
        transition: .3s;
        border-radius: 0 0 0 4px;
    }
  }
  @font-face{font-family:feather-icons;
    src:url(fonts/Feather-Icons.ttf) format('truetype');
    font-weight:400;
    font-style:normal}[class^=icon-feather-],[class*=" icon-feather-"]{font-family:feather-icons!important;
      speak:none;
      font-style:normal;
      font-weight:400;
      font-variant:normal;
      text-transform:none;
      line-height:1;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;}
      .icon-feather-activity:before{content:"\e900"}
      .icon-feather-airplay:before{content:"\e901"}
      .icon-feather-alert-circle:before{content:"\e902"}
      .icon-feather-alert-octagon:before{content:"\e903"}
      .icon-feather-alert-triangle:before{content:"\e904"}
      .icon-feather-align-center:before{content:"\e905"}
      .icon-feather-align-justify:before{content:"\e906"}
      .icon-feather-align-left:before{content:"\e907"}
      .icon-feather-align-right:before{content:"\e908"}
      .icon-feather-anchor:before{content:"\e909"}
      .icon-feather-aperture:before{content:"\e90a"}
      .icon-feather-archive:before{content:"\e90b"}
      .icon-feather-arrow-down:before{content:"\e90c"}
      .icon-feather-arrow-down-circle:before{content:"\e90d"}
      .icon-feather-arrow-down-left:before{content:"\e90e"}
      .icon-feather-arrow-down-right:before{content:"\e90f"}
      .icon-feather-arrow-left:before{content:"\e910"}
      .icon-feather-arrow-left-circle:before{content:"\e911"}
      .icon-feather-arrow-right:before{content:"\e912"}
      .icon-feather-arrow-right-circle:before{content:"\e913"}
      .icon-feather-arrow-up:before{content:"\e914"}
      .icon-feather-arrow-up-circle:before{content:"\e915"}
      .icon-feather-arrow-up-left:before{content:"\e916"}
      .icon-feather-arrow-up-right:before{content:"\e917"}
      .icon-feather-at-sign:before{content:"\e918"}
      .icon-feather-award:before{content:"\e919"}
      .icon-feather-bar-chart:before{content:"\e91a"}
      .icon-feather-bar-chart-2:before{content:"\e91b"}
      .icon-feather-battery:before{content:"\e91c"}
      .icon-feather-battery-charging:before{content:"\e91d"}
      .icon-feather-bell:before{content:"\e91e"}
      .icon-feather-bell-off:before{content:"\e91f"}
      .icon-feather-bluetooth:before{content:"\e920"}
      .icon-feather-bold:before{content:"\e921"}
      .icon-feather-book:before{content:"\e922"}
      .icon-feather-book-open:before{content:"\e923"}
      .icon-feather-bookmark:before{content:"\e924"}
      .icon-feather-box:before{content:"\e925"}
      .icon-feather-briefcase:before{content:"\e926"}
      .icon-feather-calendar:before{content:"\e927"}
      .icon-feather-camera:before{content:"\e928"}
      .icon-feather-camera-off:before{content:"\e929"}
      .icon-feather-cast:before{content:"\e92a"}
      .icon-feather-check:before{content:"\e92b"}
      .icon-feather-check-circle:before{content:"\e92c"}
      .icon-feather-check-square:before{content:"\e92d"}
      
      .icon-feather-chevron-left:before{content:"\e92f"}
      .icon-feather-chevron-right:before{content:"\e930"}
      .icon-feather-chevron-up:before{content:"\e931"}
      .icon-feather-chevrons-down:before{content:"\e932"}
      .icon-feather-chevrons-left:before{content:"\e933"}
      .icon-feather-chevrons-right:before{content:"\e934"}
      .icon-feather-chevrons-up:before{content:"\e935"}
      .icon-feather-chrome:before{content:"\e936"}
      .icon-feather-circle:before{content:"\e937"}
      .icon-feather-clipboard:before{content:"\e938"}
      .icon-feather-clock:before{content:"\e939"}
      .icon-feather-cloud:before{content:"\e93a"}
      .icon-feather-cloud-drizzle:before{content:"\e93b"}
      .icon-feather-cloud-lightning:before{content:"\e93c"}
      .icon-feather-cloud-off:before{content:"\e93d"}
      .icon-feather-cloud-rain:before{content:"\e93e"}
      .icon-feather-cloud-snow:before{content:"\e93f"}
      .icon-feather-code:before{content:"\e940"}
      .icon-feather-codepen:before{content:"\e941"}
      .icon-feather-command:before{content:"\e942"}
      .icon-feather-compass:before{content:"\e943"}
      .icon-feather-copy:before{content:"\e944"}
      .icon-feather-corner-down-left:before{content:"\e945"}
      .icon-feather-corner-down-right:before{content:"\e946"}
      .icon-feather-corner-left-down:before{content:"\e947"}
      .icon-feather-corner-left-up:before{content:"\e948"}
      .icon-feather-corner-right-down:before{content:"\e949"}
      .icon-feather-corner-right-up:before{content:"\e94a"}
      .icon-feather-corner-up-left:before{content:"\e94b"}
      .icon-feather-corner-up-right:before{content:"\e94c"}
      .icon-feather-cpu:before{content:"\e94d"}.icon-feather-credit-card:before{content:"\e94e"}.icon-feather-crop:before{content:"\e94f"}.icon-feather-crosshair:before{content:"\e950"}.icon-feather-database:before{content:"\e951"}.icon-feather-delete:before{content:"\e952"}.icon-feather-disc:before{content:"\e953"}.icon-feather-dollar-sign:before{content:"\e954"}.icon-feather-download:before{content:"\e955"}.icon-feather-download-cloud:before{content:"\e956"}.icon-feather-droplet:before{content:"\e957"}.icon-feather-edit:before{content:"\e958"}.icon-feather-edit-2:before{content:"\e959"}.icon-feather-edit-3:before{content:"\e95a"}.icon-feather-external-link:before{content:"\e95b"}.icon-feather-eye:before{content:"\e95c"}.icon-feather-eye-off:before{content:"\e95d"}.icon-feather-facebook:before{content:"\e95e"}.icon-feather-fast-forward:before{content:"\e95f"}.icon-feather-feather:before{content:"\e960"}.icon-feather-file:before{content:"\e961"}.icon-feather-file-minus:before{content:"\e962"}.icon-feather-file-plus:before{content:"\e963"}.icon-feather-file-text:before{content:"\e964"}.icon-feather-film:before{content:"\e965"}.icon-feather-filter:before{content:"\e966"}.icon-feather-flag:before{content:"\e967"}.icon-feather-folder:before{content:"\e968"}.icon-feather-folder-minus:before{content:"\e969"}.icon-feather-folder-plus:before{content:"\e96a"}.icon-feather-gift:before{content:"\e96b"}.icon-feather-git-branch:before{content:"\e96c"}.icon-feather-git-commit:before{content:"\e96d"}.icon-feather-git-merge:before{content:"\e96e"}.icon-feather-git-pull-request:before{content:"\e96f"}.icon-feather-github:before{content:"\e970"}.icon-feather-gitlab:before{content:"\e971"}.icon-feather-globe:before{content:"\e972"}.icon-feather-grid:before{content:"\e973"}.icon-feather-hard-drive:before{content:"\e974"}.icon-feather-hash:before{content:"\e975"}.icon-feather-headphones:before{content:"\e976"}.icon-feather-heart:before{content:"\e977"}.icon-feather-help-circle:before{content:"\e978"}.icon-feather-home:before{content:"\e979"}.icon-feather-image:before{content:"\e97a"}.icon-feather-inbox:before{content:"\e97b"}.icon-feather-info:before{content:"\e97c"}.icon-feather-instagram:before{content:"\e97d"}.icon-feather-italic:before{content:"\e97e"}.icon-feather-layers:before{content:"\e97f"}.icon-feather-layout:before{content:"\e980"}.icon-feather-life-buoy:before{content:"\e981"}.icon-feather-link:before{content:"\e982"}.icon-feather-link-2:before{content:"\e983"}.icon-feather-linkedin:before{content:"\e984"}.icon-feather-list:before{content:"\e985"}.icon-feather-loader:before{content:"\e986"}.icon-feather-lock:before{content:"\e987"}.icon-feather-log-in:before{content:"\e988"}.icon-feather-log-out:before{content:"\e989"}.icon-feather-mail:before{content:"\e98a"}.icon-feather-map:before{content:"\e98b"}.icon-feather-map-pin:before{content:"\e98c"}.icon-feather-maximize:before{content:"\e98d"}.icon-feather-maximize-2:before{content:"\e98e"}.icon-feather-menu:before{content:"\e98f"}.icon-feather-message-circle:before{content:"\e990"}.icon-feather-message-square:before{content:"\e991"}.icon-feather-mic:before{content:"\e992"}.icon-feather-mic-off:before{content:"\e993"}.icon-feather-minimize:before{content:"\e994"}.icon-feather-minimize-2:before{content:"\e995"}.icon-feather-minus:before{content:"\e996"}.icon-feather-minus-circle:before{content:"\e997"}.icon-feather-minus-square:before{content:"\e998"}.icon-feather-monitor:before{content:"\e999"}.icon-feather-moon:before{content:"\e99a"}.icon-feather-more-horizontal:before{content:"\e99b"}.icon-feather-more-vertical:before{content:"\e99c"}.icon-feather-move:before{content:"\e99d"}.icon-feather-music:before{content:"\e99e"}.icon-feather-navigation:before{content:"\e99f"}.icon-feather-navigation-2:before{content:"\e9a0"}.icon-feather-octagon:before{content:"\e9a1"}.icon-feather-package:before{content:"\e9a2"}.icon-feather-paperclip:before{content:"\e9a3"}.icon-feather-pause:before{content:"\e9a4"}.icon-feather-pause-circle:before{content:"\e9a5"}.icon-feather-percent:before{content:"\e9a6"}.icon-feather-phone:before{content:"\e9a7"}.icon-feather-phone-call:before{content:"\e9a8"}.icon-feather-phone-forwarded:before{content:"\e9a9"}.icon-feather-phone-incoming:before{content:"\e9aa"}.icon-feather-phone-missed:before{content:"\e9ab"}.icon-feather-phone-off:before{content:"\e9ac"}.icon-feather-phone-outgoing:before{content:"\e9ad"}.icon-feather-pie-chart:before{content:"\e9ae"}.icon-feather-play:before{content:"\e9af"}.icon-feather-play-circle:before{content:"\e9b0"}.icon-feather-plus:before{content:"\e9b1"}.icon-feather-plus-circle:before{content:"\e9b2"}.icon-feather-plus-square:before{content:"\e9b3"}.icon-feather-pocket:before{content:"\e9b4"}.icon-feather-power:before{content:"\e9b5"}.icon-feather-printer:before{content:"\e9b6"}.icon-feather-radio:before{content:"\e9b7"}.icon-feather-refresh-ccw:before{content:"\e9b8"}.icon-feather-refresh-cw:before{content:"\e9b9"}.icon-feather-repeat:before{content:"\e9ba"}.icon-feather-rewind:before{content:"\e9bb"}.icon-feather-rotate-ccw:before{content:"\e9bc"}.icon-feather-rotate-cw:before{content:"\e9bd"}.icon-feather-rss:before{content:"\e9be"}.icon-feather-save:before{content:"\e9bf"}.icon-feather-scissors:before{content:"\e9c0"}.icon-feather-search:before{content:"\e9c1"}.icon-feather-send:before{content:"\e9c2"}.icon-feather-server:before{content:"\e9c3"}.icon-feather-settings:before{content:"\e9c4"}.icon-feather-share:before{content:"\e9c5"}.icon-feather-share-2:before{content:"\e9c6"}.icon-feather-shield:before{content:"\e9c7"}.icon-feather-shield-off:before{content:"\e9c8"}.icon-feather-shopping-bag:before{content:"\e9c9"}.icon-feather-shopping-cart:before{content:"\e9ca"}.icon-feather-shuffle:before{content:"\e9cb"}.icon-feather-sidebar:before{content:"\e9cc"}.icon-feather-skip-back:before{content:"\e9cd"}.icon-feather-skip-forward:before{content:"\e9ce"}.icon-feather-slack:before{content:"\e9cf"}.icon-feather-slash:before{content:"\e9d0"}.icon-feather-sliders:before{content:"\e9d1"}.icon-feather-smartphone:before{content:"\e9d2"}.icon-feather-speaker:before{content:"\e9d3"}.icon-feather-square:before{content:"\e9d4"}.icon-feather-star:before{content:"\e9d5"}.icon-feather-stop-circle:before{content:"\e9d6"}.icon-feather-sun:before{content:"\e9d7"}.icon-feather-sunrise:before{content:"\e9d8"}.icon-feather-sunset:before{content:"\e9d9"}.icon-feather-tablet:before{content:"\e9da"}.icon-feather-tag:before{content:"\e9db"}.icon-feather-target:before{content:"\e9dc"}.icon-feather-terminal:before{content:"\e9dd"}.icon-feather-thermometer:before{content:"\e9de"}.icon-feather-thumbs-down:before{content:"\e9df"}.icon-feather-thumbs-up:before{content:"\e9e0"}.icon-feather-toggle-left:before{content:"\e9e1"}.icon-feather-toggle-right:before{content:"\e9e2"}.icon-feather-trash:before{content:"\e9e3"}.icon-feather-trash-2:before{content:"\e9e4"}.icon-feather-trending-down:before{content:"\e9e5"}.icon-feather-trending-up:before{content:"\e9e6"}.icon-feather-triangle:before{content:"\e9e7"}.icon-feather-truck:before{content:"\e9e8"}.icon-feather-tv:before{content:"\e9e9"}.icon-feather-twitter:before{content:"\e9ea"}.icon-feather-type:before{content:"\e9eb"}.icon-feather-umbrella:before{content:"\e9ec"}.icon-feather-underline:before{content:"\e9ed"}.icon-feather-unlock:before{content:"\e9ee"}.icon-feather-upload:before{content:"\e9ef"}.icon-feather-upload-cloud:before{content:"\e9f0"}.icon-feather-user:before{content:"\e9f1"}.icon-feather-user-check:before{content:"\e9f2"}.icon-feather-user-minus:before{content:"\e9f3"}.icon-feather-user-plus:before{content:"\e9f4"}.icon-feather-user-x:before{content:"\e9f5"}.icon-feather-users:before{content:"\e9f6"}.icon-feather-video:before{content:"\e9f7"}.icon-feather-video-off:before{content:"\e9f8"}.icon-feather-voicemail:before{content:"\e9f9"}.icon-feather-volume:before{content:"\e9fa"}.icon-feather-volume-1:before{content:"\e9fb"}.icon-feather-volume-2:before{content:"\e9fc"}.icon-feather-volume-x:before{content:"\e9fd"}.icon-feather-watch:before{content:"\e9fe"}.icon-feather-wifi:before{content:"\e9ff"}.icon-feather-wifi-off:before{content:"\ea00"}.icon-feather-wind:before{content:"\ea01"}.icon-feather-x:before{content:"\ea02"}.icon-feather-x-circle:before{content:"\ea03"}.icon-feather-x-square:before{content:"\ea04"}.icon-feather-youtube:before{content:"\ea05"}.icon-feather-zap:before{content:"\ea06"}.icon-feather-zap-off:before{content:"\ea07"}.icon-feather-zoom-in:before{content:"\ea08"}
      .icon-feather-zoom-out:before{content:"\ea09"}

      //Dashboards
      .fun-facts-container {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin-bottom: -30px;
        .fun-fact {
          background-color: #fff;
          box-shadow: 0 2px 6px rgba(0,0,0,.08);
          border-radius: 4px;
          padding: 25px;
          margin-right: 30px;
          margin-bottom: 30px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          flex: 1 1 calc(25% - 30px);
          height: auto;
          cursor: default;
          span {
            font-size: 18px;
            color: #888;
            line-height: 22px;
        }
        h4 {
          font-size: 38px;
          color: #333;
          line-height: 38px;
          margin-top: 5px;
      }
          transition: .3s;
          .fun-fact-text {
            flex: 1;
            margin-right: 20px;
        }
        .fun-fact-icon {
          border-radius: 4px;
          background-color: rgba(0,0,0,.04);
          flex: 0 0 100px;
          height: 100px;
          display: flex;
          text-align: center;
          .fas {
            font-size: 48px;
            align-self: center;
            margin: 0 auto;
            color: #666;
        }
      }
          &:last-child {
            display: none;
        }
      }
    }
    .dashboard-box {
      display: block;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0,0,0,.08);
      margin-top: 30px;
      position: relative;
      .headline {
        display: block;
        padding: 20px 30px;
        border-bottom: 1px solid #e4e4e4;
        position: relative;
        h3 {
          font-size: 16px;
          font-weight: 600;
          color: #333;
          line-height: 26px;
      }
    }
    .content {
      .dashboard-box-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          border-bottom: 1px solid #e4e4e4;
          padding: 0;
          line-height: 26px;
          padding: 22px 30px;
          display: flex;
          align-items: center;
          position: relative;
          width: 100%;
          flex-flow: row wrap;
          transition: .3s;
          .invoice-list-item {
            strong {
              font-weight: 600;
              color: #333;
              margin-bottom: 5px;
              margin-top: -2px;
              display: block;
          }
          ul {
            line-height: 22px;
            padding-bottom: 2px;
            color: #909090;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              padding: 0;
              display: inline-block;
              font-size: 14.7px;
              margin-bottom: 5px;
              width: auto;
              border-bottom: none;
              &:after {
                content: "";
                display: inline-block;
                width: 1px;
                height: 11px;
                background-color: #e0e0e0;
                position: relative;
                margin: 0 10px;
            }
            
            
          }
        }
          }
      }
    }
    }
  }
  .paid, .unpaid {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    line-height: 20px;
    padding: 4px 8px;
    font-size: 13px;
    position: relative;
    top: -1px;
}
.unpaid {
  background-color: #dc3139;
}
//Fixes
.pull-right {
  float: right;
}
//applicants
.compact-list.freelancers-list-layout {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0,0,0,.12);
  .freelancer {
    border-radius: 0; 
    margin-bottom: 0;
    box-shadow: none;
    &:hover {
      transform: translateY(0);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: .3s;
    opacity: 0;
}
    &:first-of-type {
      border-radius: 3px 3px 0 0;
      overflow: hidden;
  }
  }
}
.freelancers-container.freelancers-list-layout {
  width: 100%;
}
.freelancers-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
}
.freelancers-list-layout {
  .freelancer-details {
    padding: 45px 40px 45px 0;
    background-color: transparent;
    flex: 0 0 360px;
    ul {
      float: right;
      display: block;
  }
}
  .freelancer {
    margin: 0 0 30px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    &:nth-child(2n) {
      background-color: #fafafa;
  }
  }
  .freelancer-overview-inner {
    flex: 1;
    display: flex;
    align-items: center;
}
  .freelancer-overview {
    text-align: left;
    padding: 45px 40px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .freelancer-name {
      text-align: left;
      margin: 0 0 0 30px;
      h4 a {
        font-size: 18px;
        font-weight: 600;
        color: #333;
        cursor: pointer;
    }
  }
    
}
.freelancer-details {
  padding: 45px 40px 45px 0;
  background-color: transparent;
  flex: 0 0 360px;
  a.button {
    box-shadow: 0 4px 12px rgba(42,65,232,.15);
    display: block;
    text-align: center;
    min-width: 50%;
    max-width: 100%;
    width: auto!important;
    transition: .3s;
    float: right;
}
}
}
.verified-badge {
  position: relative;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: #38b653;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  font-weight: 500;
  &:before {
    content: "\e92b";
    font-family: feather-icons;
    font-size: 16px;
    color: #fff;
    position: relative;
    top: 0;
    line-height: 27px;
}
}
.freelancer-details-list {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 5px;
    font-size: 14.7px;
    li {
      margin-left: 25px;
      margin-right: 0;
      float: right;
      display: inline-block;
    line-height: 23px;
    color: gray;
    margin-bottom: 15px;
  }
  }
}
.freelancer-avatar {
  width: 100px;
  img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    max-width: 100%;
  }
  .verified-badge {
    position: absolute;
    bottom: 0;
    right: 0;
}

}
.button.button-sliding-icon {
  padding-left: 20px;
  padding-right: 10px;
}
span.button, button.button, input[type=button], input[type=submit], a.button {
  background-color: #66676b;
  top: 0;
  padding: 10px 20px;
  line-height: 24px;
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  transition: all .2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(102,103,107,.15);
}
.arctitle {
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}
.icon-total-indicator {
  line-height: 12px;
  padding: 2px 5px;
  padding-bottom: 3px;
  color: #fff;
  position: absolute;
  right: 33px;
  font-size: 11px;
  top: 13px;
  font-family: Verdana,serif;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
}
.notifications-wrapper {
  .notifications-icon {
    margin-right: 30px;
  }
  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
  .notifications {
    max-height: 600px;
    border-top: 0;
    overflow: auto;
    z-index: 1000;
    right: 0;
    left: auto;
    li {
      z-index: 100;
      .media-body {
        font-size: 13px;
    }
    &:last-child {
      padding: 15px;
      font-weight: 500;
      text-align: center;
  }
      &:not(:last-child)>a {
        padding: 0;
    }
  }
    .not_mark_all_as_read {
      padding: 5px;
      text-align: right;
      border-bottom: 1px solid #f0f0f0;
  }
}
}
.width400 {
  width: 400px;
}
.notification-box-all.unread, .notification-box.unread {
  background: #f0f4fd;
  border-bottom: 1px solid #f7f9fa;
}
.notification-box {
  padding: 10px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  word-break: break-all;
}
#notifications {
  .notification-box-all {
    border: 1px solid #f0f0f0;
    padding: 7px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.notification_link {
  cursor: pointer;
}
.text-has-action {
  border-bottom: 1px dashed #bbb;
  padding-bottom: 2px;
}
}
.rendered-text-body {
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.rejected {    color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb !important;
  box-shadow: none !important;
  border:1px solid;
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f7f9;
}
.table thead th {
  color: #721c24;
}
.table {
  tr {
    td {
      color: #495057;
    }
  }
}
}
.approved {    color: #155724;
  background-color: #d4edda;
  box-shadow: none !important;
  border-color: #c3e6cb !important;
  border:1px solid;
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f7f9;
}
.table thead th {
  color: #155724;
}
.table {
  tr {
    td {
      color: #495057;
    }
  }
}
}
// EXTEND
// Basic Bootstrap table
//

.table {
  .user-with-avatar {
    white-space: nowrap;
    img {
      width: 35px;
      height: 35px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
    img + span {
      margin-left: 10px;
    }
  }
  .icon-separator {
    margin: 0px 4px;
    opacity: 0.6;
  }
  th {
    font-weight: $font-weight-bold;
  }
  .smaller, &.smaller {
    font-size: $font-size-base * 0.8;
  }
  .lighter {
    color: $color-text-faded;
  }
  &.table-v-compact {
    td {
      padding: 0.3rem 0.75rem;
    }
  }
  &.table-compact {
    td {
      padding: 0.3rem 0.45rem;
    }
  }
  &.table-editable {
    td {
      &:hover {
        background-color: #fff;
        box-shadow: inset 0px 0px 0px 2px $primary;
      }
    }
  }
  &.table-lightborder {
    td {
      border-color: rgba(83, 101, 140, 0.08);
    }
  }
  &.table-clean {
    tr:first-child td{
      border-top: none;
    }
    td {
      padding-left: 0px;
      padding-right: 0px;
      border-top-color: rgba(0,0,0,0.05);
      .value {
        font-size: $font-size-base * 1;
        line-height: 1.2;
      }
      .sub-value {
        font-size: $font-size-base * 0.8;
        color: $color-text-faded;
      }
    }
  }
  &.table-lightfont {
    td {
      font-weight: $font-weight-light;
    }
  }
  &.table-bordered {
    thead th {
      border-top: $border-width solid $table-border-color;
    }
  }
  th, td {
    vertical-align: middle;
    img {
      max-width: 100%;
    }
  }

  thead th {
    border-bottom: (1 * $table-border-width) solid #999;
  }
  tfoot th {
    border-top: (1 * $table-border-width) solid #999;
  }
  tfoot th,
  thead th {
    text-transform: capitalize;
    border-top: none;
  }

  tbody + tbody {
    border-top: (1 * $table-border-width) solid $table-border-color;
  }

  td.nowrap {
    white-space: nowrap;
  }


  .row-actions {
    text-align: center;
    .os-icon {
      font-size: 16px;
    }
    a {
      margin-right: 0.8rem;
      color: $body-color;
      &.danger {
        color: $dark-red;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .cell-image-list {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    .cell-img {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: cover;
      background-position: center center;
      border-radius: 2px;
      // border: 2px solid #fff;
      box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0,0,0,0.8);
      vertical-align: middle;
      transition: all 0.1s ease;
      transform: scale(1);
      position: relative;
      cursor: pointer;
      &:nth-child(1) { z-index: 5; }
      &:nth-child(2) { z-index: 4; }
      &:nth-child(3) { z-index: 3; }
      &:nth-child(4) { z-index: 2; }
      &:nth-child(5) { z-index: 1; }
      &:hover {
        transform: scale(1.1);
      }
    }
    .cell-img + .cell-img {
      margin-left: -15px;
      &:hover {
        transform: translateX(5px) scale(1.1);
      }
    }
    .cell-img-more {
      font-size: $font-size-base * 0.7;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -70%;
      background-color: #fff;
      padding: 3px 5px;
      border-radius: 4px;
      z-index: 7;
      white-space: nowrap;
    }
  }

}

@media (min-width: 1100px){
  .table-responsive {
    overflow: visible;
  }
}


.table-lg {
  td {
    padding: $table-lg-cell-padding;
  }
}

.table.table-v2 {
  thead, tfoot {
    tr {
      th {
        text-align: center;
        border-top: (1 * $table-border-width) solid #999;
        border-bottom: (1 * $table-border-width) solid #999;
        background-color: rgba(0,0,0,0.05);
        &:first-child {
          border-left: (1 * $table-border-width) solid #999;
        }
        &:last-child {
          border-right: (1 * $table-border-width) solid #999;
        }
      }
    }
  }
  tbody tr td {
    border-color: darken($content-bg, 10%);
  }
}


.controls-above-table {
  margin-bottom: 1rem;
  .btn {
    margin-right: 0.5rem;
    & + .btn {
      margin-left: 0px!important;
    }
  }
  .form-control {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0px;
    }
  }
}


.controls-below-table {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-base * 0.9;
  .table-records-info {
    color: rgba(0,0,0,0.5);
  }
  .table-records-pages {
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 0px 10px;
        a {
          &.current {
            color: $body-color;
          }
        }
      }
    }
  }
}


.all-wrapper table {
  border-collapse: collapse!important;
}


.table.table-padded {
  border-collapse:separate;
  border-spacing: 0 5px;
  thead {
    tr {
      th {
        border: none;
        font-size: $font-size-base * 0.9;
        color: $color-text-faded;
        letter-spacing: 1px;
        padding: 0.3rem 1.1rem;
      }
    }
  }
  tbody {
    tr {
      border-radius: 4px;
      transition: all 0.1s ease;
      &:hover {
        box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
        transform: translateY(-1px) scale(1.01);
        td {
        }
      }
    }
    td {
      padding: 0.9rem 1.1rem;
      background-color: #fff;
      border: none;
      border-right: 1px solid rgba(0,0,0,0.03);
      &.bolder {
        font-weight: $font-weight-bold;
        font-size: $font-size-base * 1.1;
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
      img + span {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }
      span + span {
        margin-left: 5px;
      }
      .status-pill + span {
        margin-left: 10px;
      }
      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }
      &:last-child {
        border-radius: 0px 4px 4px 0px;
        border-right: none;
      }
    }
  }
}

.element-box {
  .table:last-child {
    margin-bottom: 0;
  }
}
.element-wrapper {     padding-bottom: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  .element-header {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      background-color: $primary;
      width: 25px;
      height: 4px;
      border-radius: 0px;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0px;
  }
  }
}
.bg-secondary, .toast-secondary {
  background-color: #a6c!important;
}
.modal-backdrop {
  z-index: -1;
}
table thead > tr > td.sorting_asc, table thead > tr > td.sorting_desc, table thead > tr > th.sorting_asc, table thead > tr > th.sorting_desc {
  background: #ebf5ff;
  font-weight: 500;
}
table thead > tr > th {
  color: #4e75ad;
  background: #f6f8fa;
  vertical-align: middle;
  border-bottom: 1px solid;
      border-bottom-color: currentcolor;
  border-color: #ebf5ff !important;
  font-size: 13px;
  padding-top: 9px;
  padding-bottom: 8px;
}
.label-big, .s-status {
  display: inline-block;
  padding: 6px 18px;
  text-transform: uppercase;
}
.label {
  font-size: 12px;
  font-weight: 400;
  padding: .3em .7em .3em;
}
.label-success {
  background: 0 0;
  border: 1px solid #84c529;
  color: #84c529;
}
.label {
  display: inline;
  padding: 6px 18px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-danger {
  background: 0 0;
  border: 1px solid #fc2d42;
  color: #fc2d42;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 1px solid #ebf5ff;
}
.label-default {
  background:0 0;
  border:1px solid #d2d5dc;
  color:#63686f
 }
 .label-default[href]:focus,.label-default[href]:hover {
  background-color:#727b86
 }
 .label-light-green {
  background:0 0;
  border:1px solid #adca65;
  color:#adca65
 }
 .label-light-green[href]:focus,.label-light-green[href]:hover {
  background-color:#adca65
 }
 .label-primary {
  background:0 0;
  border:1px solid #28b8da;
  color:#28b8da
 }
 .label-primary[href]:focus,.label-primary[href]:hover {
  background-color:#1e95b1
 }
 .label-success {
  background:0 0;
  border:1px solid #84c529;
  color:#84c529
 }
 .label-success[href]:focus,.label-success[href]:hover {
  background-color:#1b721a
 }
 .label-info {
  background:0 0;
  border:1px solid #03a9f4;
  color:#03a9f4
 }
 .label-info[href]:focus,.label-info[href]:hover {
  background-color:#0286c2
 }
 .label-warning {
  background:0 0;
  border:1px solid #ff6f00;
  color:#ff6f00
 }
 .label-warning[href]:focus,.label-warning[href]:hover {
  background-color:#cc5900
 }
 .label-danger {
  background:0 0;
  border:1px solid #fc2d42;
  color:#fc2d42
 }
 .label-danger[href]:focus,.label-danger[href]:hover {
  background-color:#f3031c
 }
 .text-danger {
  color:#fc2d42
 }
 .text-danger.important {
  color:#fc2d42!important
 }
 .text-info {
  color:#03a9f4
 }
 .text-success {
  color:#84c529
 }
 .text-warning {
  color:#ff6f00
 }
 .has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label {
  color:#fc2d42
 }
 .has-error .form-control {
  border-color:#fc2d42;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
 }
 .font-medium-xs {
  font-size: 13px !important;
}
.bold {
  font-weight: 500;
}
.lead-field-heading {
  margin-top: 10px;
  margin-bottom: 0;
}
.no-mtop {
  margin-top: 0 !important;
}
.text-muted {
  color: #777;
}
.avatar {
  width: 200px;
  height: 200px;
  display: block;
  line-height: 200px;
  background: #f1f7f9;
  border: 1px solid #0286c2;
  text-align: center;
  border-radius: 50%;
  .avatar-md {
    font-size:2rem;
  }
}